{% extends 'base.html' %} {% block content %} {% load static %}
<!--MainBody-->
<div class="container-fluid">
  <!--RadioBtn-->
  <br /><br />
  <div class="row">
    <div class="col-lg-12">
      <div class="form-check form-check-inline">
        <label
          style="font-size: large"
          class="form-check-label"
          for="inlineRadio1"
          ><b>Round Trip</b></label
        >&nbsp;&nbsp;&nbsp;
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="option1"
        />
      </div>
      <div class="form-check form-check-inline">
        <label
          style="font-size: large"
          class="form-check-label"
          for="inlineRadio2"
          ><b>One Way</b></label
        >
        &nbsp;&nbsp;&nbsp;
        <input
          style="width: 20px"
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="option2"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <!-- From countries -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"
          ><b>From</b></label
        >
        <input type="text" class="form-control" />
      </div>
    </div>

    <!-- To countries -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"
          ><b>To</b></label
        >
        <input type="text" class="form-control" />
      </div>
    </div>

    <!-- Depart Date -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"
          ><b>Depart</b></label
        >
        <input type="date" class="form-control" />
      </div>
    </div>

    <!-- Return Date -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"
          ><b>Return</b></label
        >
        <input type="date" class="form-control" />
      </div>
    </div>

    <!-- Select total number of passenger -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"
          ><b>Select Passenger</b></label
        >
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1 Adults</option>
          <option>2 Adults</option>
          <option>3 Adults</option>
          <option>4 Adults</option>
          <option>5 Adults</option>
        </select>
      </div>
    </div>

    <!-- Search button box -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <a href="{% url 'my-info'%}" class="btn btn-primary form-control"
          >Search</a
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <label class="toggle">
        <input type="checkbox" />
        <span class="slider"></span>
        <span
          style="padding-bottom: 6px"
          class="labels"
          data-on="Depart"
          data-off="Return"
        ></span>
      </label>
      <div class="card text-white mb-3">
        <div
          style="background-color: white; border: 1px solid #82c6fd"
          class="card-body"
        >
          <center>
            <p class="card-title"><b>Filter</b></p>
          </center>
          <div>
            <br />
            <p style="font-size: small">Price Range</p>
            <input
              style="width: 100%"
              type="range"
              name="range"
              step="50000"
              min="500"
              max="1000000"
              value=""
              onchange="rangePrimary.value=value"
            />
            <p style="float: left"><b>500</b></p>
            <input
              style="border: none; float: right; width: 70px; font-weight: bold"
              id="rangePrimary"
              value="100000"
            />
          </div>
          <br />
          <br />
          <div class="form-group">
            <label for="exampleInputEmail1" style="font-size: small"
              ><b>Departure Time</b></label
            >
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Before 8 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" style="font-size: small"
              ><b>Arrival Time</b></label
            >
            <select class="form-control" id="exampleFormControlSelect1">
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
            </select>
          </div>
          <br />
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <label
        style="font-size: large; margin-bottom: 16px"
        class="form-check-label"
        for="inlineRadio1"
        ><b>Departing Flights</b></label
      >
      <div style="border: 1px solid #82c6fd" class="card">
        <div
          class="card-body"
          style="
            padding-top: 10px;
            padding-bottom: 1px;
            padding-left: 20px;
            padding-right: 20px;
          "
        >
          <p class="card-title" style="font-size: x-small">
            <b>FlyDreamAir</b>
          </p>
          <div class="row">
            <div class="col-lg-1">
              <img src="{% static 'assets/FDIcon.png'%}" width="80" />
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: right">
                    <label
                      style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "
                      ><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">YGN</label></label
                    ></label
                  >
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <img
                    class="img-fluid"
                    style="margin-top: 30px"
                    src="{% static 'assets/BookingDesignIcon.png'%}"
                  />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: left">
                    <label
                      style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "
                      ><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">AUS</label></label
                    ></label
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <label style="float: left">
                <label
                  style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "
                  ><br />1h 20m<br
                /></label>
              </label>
              <label style="float: right"
                ><label
                  style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "
                  ><br />No Stop<br
                /></label>
              </label>
            </div>
            <div class="col-lg-2">
              <label style="float: right; margin-top: 10px">
                <label
                  style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding-top: 0%;
                  "
                  ><b>USD 560</b><br />
                  <a
                    style="font-size: small"
                    href="#"
                    class="btn btn-primary form-control"
                    >Select</a
                  >
                </label>
              </label>
            </div>
          </div>
          <hr />
          <p style="font-size: small">30kg Per Person</p>
        </div>
      </div>
      <br />
      <div style="border: 1px solid #82c6fd" class="card">
        <div
          class="card-body"
          style="
            padding-top: 10px;
            padding-bottom: 1px;
            padding-left: 20px;
            padding-right: 20px;
          "
        >
          <p class="card-title" style="font-size: x-small">
            <b>FlyDreamAir</b>
          </p>
          <div class="row">
            <div class="col-lg-1">
              <img src="{% static 'assets/FDIcon.png'%}" width="80" />
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: right">
                    <label
                      style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "
                      ><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">YGN</label></label
                    ></label
                  >
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <img
                    class="img-fluid"
                    style="margin-top: 30px"
                    src="{% static 'assets/BookingDesignIcon.png'%}"
                  />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: left">
                    <label
                      style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "
                      ><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">AUS</label></label
                    ></label
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <label style="float: left">
                <label
                  style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "
                  ><br />1h 20m<br
                /></label>
              </label>
              <label style="float: right"
                ><label
                  style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "
                  ><br />No Stop<br
                /></label>
              </label>
            </div>
            <div class="col-lg-2">
              <label style="float: right; margin-top: 10px">
                <label
                  style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding-top: 0%;
                  "
                  ><b>USD 560</b><br />
                  <a
                    style="font-size: small"
                    href="#"
                    class="btn btn-primary form-control"
                    >Select</a
                  >
                </label>
              </label>
            </div>
          </div>
          <hr />
          <p style="font-size: small">30kg Per Person</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
{% endblock content %}
