{% extends 'base.html' %} {% block content %} {% load static %}
<!--MainBody-->
<div class="container-fluid">
  <!--RadioBtn-->
  <br /><br />
  <div class="row">
    <div class="col-lg-12">
      <div class="form-check form-check-inline">
        <label style="font-size: large" class="form-check-label" for="inlineRadio1"><b>Round
            Trip</b></label>&nbsp;&nbsp;&nbsp;
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
      </div>
      <div class="form-check form-check-inline">
        <label style="font-size: large" class="form-check-label" for="inlineRadio2"><b>One Way</b></label>
        &nbsp;&nbsp;&nbsp;
        <input style="width: 20px" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
          value="option2" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <!-- From countries -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"><b>From</b></label>
        <input id="from" type="text" class="form-control" />
      </div>
    </div>

    <!-- To countries -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"><b>To</b></label>
        <input id="to" type="text" class="form-control" />
      </div>
    </div>

    <!-- Depart Date -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"><b>Depart</b></label>
        <input id="depart" type="date" class="form-control" />
      </div>
    </div>

    <!-- Return Date -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"><b>Return</b></label>
        <input id="Return" type="date" class="form-control" />
      </div>
    </div>

    <!-- Select total number of passenger -->
    <div class="col-lg-2 col-md-4">
      <div class="form-group">
        <label for="exampleInputEmail1" style="font-size: small"><b>Select Passenger</b></label>
        <input min="0" max="5" id="totalPassanger" type="number" class="form-control" placeholder="1" value="1"
          style="font-size: medium; height: 40px" />
      </div>
    </div>

  


  </div>

  <div class="row">
    <div class="col-lg-3">
      <br><br>
      <br>
      <br>
      <div class="card text-white mb-3">
        <div style="background-color: white; border: 1px solid #82c6fd" class="card-body">
          <center>
            <p class="card-title"><b>Filter</b></p>
          </center>
          <div>
            <br />
            <p style="font-size: small">Price Range</p>
            <input style="width: 100%" type="range" name="range" step="100" min="500" max="10000" value=""
              onchange="rangePrimary.value=value" />
            <p style="float: left"><b>500</b></p>
            <input style="border: none; float: right; width: 70px; font-weight: bold" id="rangePrimary"
              value="4750" />
          </div>
          <br />
          <br />
          <div class="form-group">
            <label for="exampleInputEmail1" style="font-size: small"><b>Departure Time</b></label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Before 8 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" style="font-size: small"><b>Arrival Time</b></label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
              <option>6 am to - 12 am</option>
            </select>
          </div>
          <br />
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <br><br>
      <label style="font-size: large; margin-bottom: 16px" class="form-check-label" for="inlineRadio1"><b>Departing
          Flight</b></label>
      <div style="border: 1px solid #82c6fd" class="card">
        <div class="card-body" style="
            padding-top: 10px;
            padding-bottom: 1px;
            padding-left: 20px;
            padding-right: 20px;
          ">
          <p class="card-title" style="font-size: x-small">
            <b>FlyDreamAir</b>
          </p>
          <div class="row">
            <div class="col-lg-1">
              <img src="{% static 'assets/FDIcon.png'%}" width="80" />
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: right">
                    <label style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">BKK</label></label></label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <img class="img-fluid" style="margin-top: 30px" src="{% static 'assets/BookingDesignIcon.png'%}" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: left">
                    <label style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">BCN</label></label></label>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <label style="float: left">
                <label style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "><br />1h 20m<br /></label>
              </label>
              <label style="float: right"><label style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "><br />No Stop<br /></label>
              </label>
            </div>
            <div class="col-lg-2">
              <label style="float: right; margin-top: 10px">
                <label style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding-top: 0%;
                  "><b>USD 560</b><br />
                  <button id="btn1" onclick="btn1Click()" style="font-size: small"
                    class=" btn btn-primary form-control">Select</button>
                </label>
              </label>
            </div>
          </div>
          <hr />
          <p style="font-size: small">30kg Per Person</p>
        </div>
      </div>
      <br />
      <label style="font-size: large; margin-bottom: 16px" class="form-check-label" for="inlineRadio1"><b>Return
        Flight</b></label>
      <div style="border: 1px solid #82c6fd" class="card">
        <div class="card-body" style="
            padding-top: 10px;
            padding-bottom: 1px;
            padding-left: 20px;
            padding-right: 20px;
          ">
          <p class="card-title" style="font-size: x-small">
            <b>FlyDreamAir</b>
          </p>
          <div class="row">
            <div class="col-lg-1">
              <img src="{% static 'assets/FDIcon.png'%}" width="80" />
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: right">
                    <label style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">BKK</label></label></label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <img class="img-fluid" style="margin-top: 30px" src="{% static 'assets/BookingDesignIcon.png'%}" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                  <label style="float: left">
                    <label style="
                        cursor: pointer;
                        font-size: small;
                        color: black;
                        margin: 0%;
                        padding: 0%;
                      "><br /><b>16:00</b><br />
                      <label style="margin: 0%; padding: 0%">BCN</label></label></label>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <label style="float: left">
                <label style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "><br />1h 20m<br /></label>
              </label>
              <label style="float: right"><label style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding: 0%;
                  "><br />No Stop<br /></label>
              </label>
            </div>
            <div class="col-lg-2">
              <label style="float: right; margin-top: 10px">
                <label style="
                    cursor: pointer;
                    font-size: large;
                    color: black;
                    margin: 0%;
                    padding-top: 0%;
                  "><b>USD 560</b><br />
                  <button id="btn2" onclick="btn2Click()" style="font-size: small" href="#"
                    class=" btn btn-primary form-control">Select</button>
                </label>
              </label>
            </div>
          </div>
          <hr />
          <p style="font-size: small">30kg Per Person</p>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let btn1Selected = false;
    let btn2Selected = false;
    var btn1 = document.getElementById('btn1');
    var btn2 = document.getElementById('btn2');

    function btn1Click() {
      //change text
      btn1.innerText = 'Selected';
      //disable button
      btn1.disabled = true;
      btn1Selected = true;
      if (btn2Selected) {
        //redirect
        selectClick();
      }
    }

    function btn2Click() {
      //change text
      btn2.innerText = 'Selected';
      //disable button
      btn2.disabled = true;
      btn2Selected = true;

      if (btn1Selected) {
        //redirect
        selectClick();
      }
    }




    document.getElementById("from").value = localStorage.getItem('from');
    document.getElementById("to").value = localStorage.getItem('to');
    document.getElementById("depart").value = localStorage.getItem('depart');
    document.getElementById("Return").value = localStorage.getItem('Return');
    document.getElementById("totalPassanger").value = localStorage.getItem('totalPassanger');
    // document.getElementById("promoCode").value = localStorage.getItem('promoCode');
    var trip = localStorage.getItem('trip');
    var r1 = document.getElementById('inlineRadio1');
    var r2 = document.getElementById('inlineRadio2');
    if (trip == "round") {
      r1.checked = true;
      r2.checked = false;
    }
    else {
      r1.checked = false;
      r2.checked = true;
    }
    var element = document.getElementsByClassName('slc');
    for (var i = 0; i < element.length; i++) {
      element[i].addEventListener("click", function () { selectClick() }, false);
    }


    function selectClick() {
      Swal.fire({
        title: 'Confirm ticket?',
        text: "You won't be able to revert this!",
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, confirm'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Confirmed!',
            'ticket has been confirmed.',
            'success'
          ).then((res) => {
            var s = localStorage.setItem('totalPassanger', document.getElementById('totalPassanger').value);
            window.location.href = '/my-info'; //relative to domain
          });
        }
        else {
          btn2.disabled = false;
          btn2Selected = false;
          btn1.disabled = false;
          btn1Selected = false;
          btn1.innerText = 'Select';
          btn2.innerText = 'Select';

        }
      })
    }


    $('input[type="number"]').on('keyup', function () {
      v = parseInt($(this).val());
      min = parseInt($(this).attr('min'));
      max = parseInt($(this).attr('max'));

        /*if (v < min){
            $(this).val(min);
        } else */if (v > max) {
        $(this).val(max);
      }
    })
  </script>
</div>
<br /><br />
<br /><br />
{% endblock content %}