{% extends 'base.html' %} {% block content %} {% load static %}
<!--MainBody-->
<div class="container-fluid">
  <br /><br />
  <h2><b>Extra Services</b></h2>
  <br />
  <div class="row">
    <div class="col-lg-8">
      <br />
      <div class="card">
        <div
          style="
            margin-top: 0%;
            padding-top: 0%;
            margin-bottom: 0%;
            padding-bottom: 0%;
          "
          class="card-header form-inline"
        >
          <img
            style="background-color: white; padding: 2px"
            src="{% static 'assets/PassengerUserICon.png'%}"
            alt="..."
            class="rounded-circle"
          />
          <p style="color: white; padding-top: 20px; font-size: x-large">
            <b> &nbsp; Passenger 1 - (Primary Passenger)</b>
          </p>
        </div>
        <div class="card-body">
          <p class="card-title" style="font-size: medium">
            <b>For Departure Flight</b>
          </p>
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for food in foods %}
                  <option>{{food}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for drink in drinks %}
                  <option>{{drink}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <p class="card-title" style="font-size: medium">
                <b>For Return Flight</b>
              </p>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <label style="float: right">
                <label
                  style="
                    cursor: pointer;
                    font-size: small;
                    color: black;
                    margin: 0%;
                    padding-top: 0%;
                  "
                  ><b> &nbsp;&nbsp;&nbsp;USD 560</b><br />
                </label>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for food in foods %}
                  <option>{{food}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for drink in drinks %}
                  <option>{{drink}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div
          style="
            margin-top: 0%;
            padding-top: 0%;
            margin-bottom: 0%;
            padding-bottom: 0%;
          "
          class="card-header form-inline"
        >
          <img
            style="background-color: white; padding: 2px"
            src="{% static 'assets/PassengerUserICon.png'%}"
            alt="..."
            class="rounded-circle"
          />
          <p style="color: white; padding-top: 20px; font-size: x-large">
            <b> &nbsp; Passenger 2</b>
          </p>
        </div>
        <div class="card-body">
          <p class="card-title" style="font-size: medium">
            <b>For Departure Flight</b>
          </p>
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for food in foods %}
                  <option>{{food}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for drink in drinks %}
                  <option>{{drink}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <p class="card-title" style="font-size: medium">
                <b>For Return Flight</b>
              </p>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <label style="float: right">
                <label
                  style="
                    cursor: pointer;
                    font-size: small;
                    color: black;
                    margin: 0%;
                    padding-top: 0%;
                  "
                  ><b>&nbsp;&nbsp;&nbsp;USD 560</b><br />
                  <a
                    style="font-size: small"
                    href="{% url 'available-seats'%}"
                    class="btn btn-primary form-control"
                    >Add Items</a
                  >
                </label>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for food in foods %}
                  <option>{{food}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  {% for drink in drinks %}
                  <option>{{drink}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <br />
      <div class="card">
        <div style="padding-top: 0%; padding-bottom: 0%" class="card-header">
          <p style="color: white; padding-top: 20px; font-size: x-large">
            <b>Fare Summary</b>
          </p>
        </div>
        <div class="card-body">
          <br />
          <div class="row">
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text"><b>Base Fare:</b></span>
            </div>
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span>$560x 2 Adults</span>
            </div>
            <br /><br />
            <div
              style="font-size: small"
              class="col-lg-2 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text">$112</span>
            </div>
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text"><b>Extra Services:</b></span>
            </div>
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span>For Passenger1-</span>
            </div>
            <br /><br />
            <div
              style="font-size: small"
              class="col-lg-2 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text">$0</span>
            </div>
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text"><b></b></span>
            </div>
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span>For Passenger1-</span>
            </div>
            <br /><br />
            <div
              style="font-size: small"
              class="col-lg-2 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text">$560</span>
            </div>
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text"><b>Tax</b></span>
            </div>
            <div
              style="font-size: small"
              class="col-lg-5 col-md-4 col-sm-4 col-4"
            >
              <span></span>
            </div>
            <br /><br />
            <div
              style="font-size: small"
              class="col-lg-2 col-md-4 col-sm-4 col-4"
            >
              <span class="card-text">$20</span>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3"><b>Total</b></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6"></div>
            <div style="float: right" class="col-lg-3 col-md-3 col-sm-3 col-3">
              &nbsp;&nbsp;<b>$1700</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
{% endblock content %}
