{% extends 'base.html' %} {% block content %}
<!--MainBody-->
<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-lg-12" style=" padding-right:2px;">
      <br />

      <!-- User input box -->
      <div class="card">
        <div style="
            background-color: white;
            border-radius: 10px;  padding-right:10px; padding-left:10px;
            border: 1px solid #3ba3fb;
          " class="card-body">
          <div class="row">
            <!-- Round trip and One way row-->
            <div class="col-lg-12">
              <div class="form-check form-check-inline">
                <label style="font-size: large" class="form-check-label" for="inlineRadio1"><b>Round
                    Trip</b></label>&nbsp;&nbsp;&nbsp;
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="Round Trip" />
              </div>
              <div class="form-check form-check-inline">
                <label style="font-size: large" class="form-check-label" for="inlineRadio2"><b>One Way</b></label>
                &nbsp;&nbsp;&nbsp;
                <input style="width: 20px" class="form-check-input" type="radio" name="inlineRadioOptions"
                  id="inlineRadio2" value="One Way" />
              </div>
            </div>
          </div>
          <br /><br />

          <!-- User input row -->
          <div class="row">
            <div class="col-lg-2 col-md-4">
              <div class="form-group" style="width:236px">
                <label for="exampleInputEmail1" style="font-size: small"><b style="font-size:medium">From</b></label>
                <select id="from" class="form-control" style="font-size: small;">
                  {% for info in country_city_code %}
                  <option>{{info}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-4">
              <div class="form-group" style="padding-left:30px; width:266px">
                <label for="exampleInputEmail1" style="font-size: small"><b style="font-size:medium">To</b></label>
                <select id="to" class="form-control" id="exampleFormControlSelect1" style="font-size: small">
                  {% for info in country_city_code %}
                  <option>{{info}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-lg-2 col-md-4">

              <div class="form-group" style="padding-left:60px; width:250px">
                <label for="exampleInputEmail1" style="font-size: small"><b style="font-size:medium">Depart</b></label>
                <input id="depart" type="date" class="form-control" style="font-size: medium; height:40px;" />
              </div>
            </div>
            <div class="col-lg-2 col-md-4">
              <div class="form-group" style="padding-left:45px; width:250px">
                <label for="exampleInputEmail1" style="font-size: small"><b style="font-size:medium">Return</b></label>
                <input id="Return" type="date" class="form-control" style="font-size: medium; height: 40px" />
              </div>
            </div>
            <div class="col-lg-2 col-md-4">
              <div class="form-group" style="padding-left:45px">
                <label for="exampleInputEmail1" style="font-size: small"><b style="font-size:medium">Total
                    Passengers</b></label>
                <input  min="0" max="5" id="totalPassanger" type="number" class="form-control" placeholder="1" value="1"
                  style="font-size: medium; height: 40px" />
              </div>
            </div>
            <div class="col-lg-2 col-md-4">

              <div class="form-group">
                <label for="exampleInputEmail1" style="font-size: small; color: white;"><b>Promo Code</b></label>
                <input id="promoCode" type="text" class="form-control" placeholder="Promo Code"
                  style="font-size: medium; height: 40px; width:100px" />
                <label for="exampleInputEmail1" style="font-size: small; color: white"><b>.</b></label>
                </br>
                <a href="{% url 'available-flights' %}" class="btn btn-primary form-control" onclick="val()"
                  style="font-size:15px; width:150px">Search</a>
              </div>
            </div>
          </div>
          <script>
            function val() {
              from = document.getElementById("from").value;
              to = document.getElementById("to").value;
              depart = document.getElementById("depart").value;
              Return = document.getElementById("Return").value;
              totalPassanger = document.getElementById("totalPassanger").value;
              promoCode = document.getElementById("promoCode").value;
              var trip;
              var r1 = document.getElementById('inlineRadio1');
              if (r1.checked) {
                trip = "round"
              }
              else {
                trip = "one"
              }
              localStorage.setItem('from',from);
              localStorage.setItem('to',to);
              localStorage.setItem('depart',depart);
              localStorage.setItem('Return',Return);
              localStorage.setItem('totalPassanger',totalPassanger);
              localStorage.setItem('promoCode',promoCode);
              localStorage.setItem('trip',trip);
            }


            $('input[type="number"]').on('keyup',function(){
        v = parseInt($(this).val());
        min = parseInt($(this).attr('min'));
        max = parseInt($(this).attr('max'));

        /*if (v < min){
            $(this).val(min);
        } else */if (v > max){
            $(this).val(max);
        }
    })
          </script>
        </div>
      </div>

      <br />
    </div>
  </div>
  <br />
  <div class="container" style="width: 80%">
    <div class="row">
      <div class="col-lg-6">
        <h2 style="color: #3ba3fb">
          Once a year, go some place <br/>you've never been before.
        </h2>
      </div>
      <div class="col-lg-6">
        <p style="color: #3ba3fb; text-align: justify; font-size: smaller">
          Day in and day out, our people put their talent to work to offer innovative, <br/>
             sustainable solutions to our clients. Our goal is long-term sustainability, and <br/>
             protecting the world around us is our highest priority. This is what guides <br/>
             everything we do and enables us to deliver meaningful results for a sustainable future.
        </p>
      </div>
      <div class="col-lg-6">
        <p style="color: #3ba3fb; font-size: smaller">
          <br /><br />June 2, 2017
        </p>
        <hr />
      </div>
      <div class="col-lg-6">
        <p style="color: #3ba3fb; font-size: large; font-style: italic">
          Our commitment: to do more and do it better for our employees, our <br/>
          clients, and our communities. We work to anticipate your every need.
        </p>
      </div>
    </div>
  </div>
</div>

<br /><br />

<!-- Footer -->
<section class="footer" style="background-color: #f1f9ff">
  <br /><br />
  <div class="container-fluid">
    <div style="padding: 10px" class="row" id="footerTop">
      <div class="col-lg-3">
        <p style="color: #3ba3fb; font-size: smaller">
          <b>Sign up to get weekly update.</b><br /><br />
          And grab 10% off your first flight with us.
        </p>
        <div style="padding: 10px" class="row">
          <div class="col-lg-8">
            <input style="background-color: #f1f9ff" type="text" class="form-control" placeholder="your email" />
          </div>
          <div class="col-lg-4">
            <a href="#" class="btn btn-primary form-control" style="height:38px;width:100px">Subscribe</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-5">
        <div style="padding: 10px" class="row">
          <div class="col-lg-4 col-4">
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>+44 345 678 903</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>FlyDreamAir@gmail.com</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>FIND A STORE</b></a>
          </div>
          <div class="col-lg-4 col-4">
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>CONTACT US</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>ORDERING & PAYMENT</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>SHPPING</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>+44 345 678 903</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>RETURNS</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>FAQ</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>SIZING GUIDE</b></a>
          </div>
          <div class="col-lg-4 col-4">
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>ABOUT ADOBE XD KIT</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>WORK WITH US</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>PRIVACY POLICY</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>TERMS & CONDITIONS</b></a>
            <br />
            <a style="font-size: x-small; color: #3ba3fb" href="#"><b>PRESS ENQUIRIES</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</section>
{% endblock content %}