{% extends 'base.html' %} {% block content %} {% load static %}
<!--MainDiv-->
<div id="centerDiv">
  <br />
  <div class="card text-white mb-3" style="max-width: 28rem">
    <div class="card-header"><b>Payment Detail</b></div>
    <div class="card-body">
      <br />
      <form>
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="form-group">
              <label style="font-size: small" for="exampleInputEmail1"
                >CARD NUMBER</label
              >
              <input
                type="number"
                class="form-control"
                placeholder="1234 &nbsp;&nbsp;5678 &nbsp;&nbsp; 3456 &nbsp;&nbsp; 2456"
              />
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <img
              style="margin-top: 24px"
              src="{% static 'assets/VisaIcon.png'%}"
            />
          </div>
        </div>
        <div class="form-group">
          <label style="font-size: small" for="exampleInputEmail1"
            >CARDHOLDER NAME</label
          >
          <input type="text" class="form-control" placeholder="Demo User" />
        </div>
        <div class="form-group">
          <label style="font-size: small" for="exampleInputEmail1"
            >EXPIRE DATE</label
          >
          <input
            type="date"
            class="form-control"
            placeholder="demo@example.com"
          />
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
              <label style="font-size: small" for="exampleInputEmail1"
                >CVV</label
              >
              <input
                type="number"
                class="form-control"
                placeholder="1234 5678 3456 2456"
              />
            </div>
          </div>
        </div>
        <br />
        <center>
          <button id="LoginBtn" type="submit" class="btn btn-primary">
            Create User
          </button>
        </center>
      </form>
    </div>
  </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br />
{% endblock content %}
